---
name: Code Quality

on:
    push:
        branches:
            - main
    workflow_dispatch:
    pull_request:

jobs:
    run-lint:
        runs-on: ubuntu-latest

        permissions:
            contents: read
            packages: read
            statuses: write

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Installing dependencies
              run: npm i --ignore-scripts

            - name: Setup Biome
              uses: biomejs/setup-biome@v2

            - name: Run Biome
              run: biome ci .