---
name: PR Code Quality

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    run-lint:
        runs-on: ubuntu-latest

        permissions:
            contents: read
            packages: read
            statuses: write

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Installing dependencies
              run: npm i --ignore-scripts

            - name: Run ESLint
              run: eslint .
