---
name: Styling

on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    prettier:
        runs-on: ubuntu-latest

        permissions:
            contents: write
            packages: read

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  ref: ${{ github.head_ref }}
                  ssh-key: ${{secrets.SECRET_KEY}}

            - name: Prettify code
              uses: creyD/prettier_action@v4.5
              with:
                  prettier_options: --write **/*.{ts,tsx}
                  same_commit: true
