---
name: Testing

on:
    push:
        branches:
            - main
    pull_request:
    workflow_dispatch:

jobs:
    run-jest:
        runs-on: ubuntu-latest

        permissions:
            contents: read
            packages: read
            statuses: write

        steps:
            -   name: Checkout code
                uses: actions/checkout@v3
                with:
                    fetch-depth: 0
                    repository: ${{ github.event.pull_request.head.repo.full_name }}
                    ref: ${{ github.event.pull_request.head.ref }}

            -   name: Installing dependencies
                run: npm i --ignore-scripts

            -   name: Run Jest
                uses: stefanoeb/jest-action@1.0.4
