---
name: Testing

on:
    push:
        branches:
            - main
    pull_request:
    workflow_dispatch:

jobs:
    run-jest:
        runs-on: ubuntu-latest

        permissions:
            contents: read
            packages: read
            statuses: write

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Installing dependencies
              run: npm i --ignore-scripts

            - name: Run Jest
              run: npm run test:run
